node_modules
dist
build
.out
.next
.vite

# NX cache
.nx
tmp

# Python
__pycache__
*.pyc
.venv
venv

# Unused workspace packages
packages/*
!packages/.gitkeep

# Git & CI
.git
.github
.gitignore

# Logs
*.log
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Test files
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/*.snap